[include mainsail.cfg]
[include KAMP/*.cfg]
[exclude_object]
#[include sp_mmu.cfg]
#[include timelapse.cfg]
#[include adxl.cfg]

[pause_resume]
[display_status]

[delayed_gcode my_delayed_gcode]
initial_duration: 1.0
gcode:
    BED_MESH_PROFILE LOAD="default"

[force_move]
enable_force_move: True

# --------------------------------------------------------------------
# KHAI BÁO MCU CAN BUS
# --------------------------------------------------------------------

[mcu]
canbus_uuid: ee79e21df7e0

[mcu EBBCan]
canbus_uuid: 85f8994335e4

[temperature_sensor MCU_Fly_D5]
sensor_type: temperature_mcu

[temperature_sensor EBB36_Toolhead]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 112.1
shaper_type_y: mzv
shaper_freq_y: 60.4

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# --------------------------------------------------------------------
# ĐỘNG CƠ
# --------------------------------------------------------------------
[stepper_x]
step_pin: PC15
dir_pin: !PC14
enable_pin: !PC2
microsteps: 16
rotation_distance: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_min: 0
position_max: 285
homing_speed: 20

[stepper_y]
step_pin: PA1
dir_pin: !PA0
enable_pin: !PA2
microsteps: 16
rotation_distance: 40
homing_retract_dist: 5
endstop_pin: ^!PB3
position_endstop: 0
position_min: -40
position_max: 230
homing_speed: 20

[stepper_z]
step_pin: PA5
dir_pin: !PA4
enable_pin: !PA6
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -3
homing_speed: 20

[stepper_z1]
step_pin: PC5
dir_pin: !PC4
enable_pin: !PB0
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

[heater_bed]
heater_pin: PC7
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0
min_temp: -273.15
max_temp: 130

# --------------------------------------------------------------------
# CẤU HÌNH CỤM ĐẦU PHUN (CHUYỂN HẾT SANG EBB36 CAN BUS)
# --------------------------------------------------------------------
[extruder]
step_pin: EBBCan:PD0
dir_pin: EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
rotation_distance: 5.6
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: EBBCan:PB13
sensor_type: ATC Semitec 104GT-2
sensor_pin: EBBCan:PA3
min_temp: 0
max_temp: 350
pressure_advance: 0.02
pressure_advance_smooth_time: 0.06
max_extrude_only_velocity: 130
max_extrude_only_accel: 3000
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 5
min_extrude_temp: 0

# --- HỆ THỐNG QUẠT TRÊN EBB36 v1.2 ---
[fan]
pin: EBBCan:PA0

[heater_fan hotend_fan]
pin: EBBCan:PA1
heater: extruder
heater_temp: 50.0

[bltouch]
sensor_pin: ^EBBCan:PB8
control_pin: EBBCan:PB9
x_offset: 0
y_offset: 32
speed: 5
lift_speed: 10
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance_retries: 3
stow_on_each_sample: False
probe_with_touch_mode: True
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: False

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC13
run_current: 0.7
interpolate: False
stealthchop_threshold: 0
diag_pin: ^PB4
driver_SGTHRS: 48

[tmc2209 stepper_y]
uart_pin: PC3
run_current: 0.7
interpolate: False
stealthchop_threshold: 0
diag_pin: ^PB3

[tmc2209 extruder]
uart_pin: EBBCan:PA15
interpolate: False
run_current: 0.7
hold_current: 0.7
stealthchop_threshold: 0

[tmc2208 stepper_z]
uart_pin: PA3
interpolate: True
run_current: 0.75
hold_current: 0.7
stealthchop_threshold: 999999

[tmc2208 stepper_z1]
uart_pin: PA7
interpolate: True
run_current: 0.75
hold_current: 0.7
stealthchop_threshold: 999999

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 20000
max_z_velocity: 50
max_z_accel: 400
square_corner_velocity: 5.0

[z_tilt]
z_positions:
 -18,81
 308,81
points:
 10,81
 285,81
speed: 120
horizontal_move_z: 7
retries: 20
retry_tolerance: 0.01

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 30, 30
mesh_max: 260, 200
probe_count: 7, 7
algorithm: bicubic
mesh_pps: 3,3
fade_start: 0.6
fade_end: 5
fade_target: 0

[screws_tilt_adjust]
screw1: 147, 81
screw1_name: Center
screw2: 0, 0
screw2_name: Front Left
screw3: 149, 0
screw3_name: Front Middle
screw4: 285, 0
screw4_name: Front Right
screw5: 0, 180
screw5_name: Back Left
screw6: 148, 180
screw6_name: Back Middle
screw7: 285, 180
screw7_name: Back Right
speed: 150
horizontal_move_z: 10
screw_thread: CW-M3

[verify_heater heater_bed]
max_error: 120
check_gain_time: 150
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

# --------------------------------------------------------------------
# HỆ THỐNG CÁC MACRO G-CODE
# --------------------------------------------------------------------
[homing_override]
axes: xyz
gcode:
    G90
    SET_KINEMATIC_POSITION Z=0
    G0 Z10 F600

    G28 X
    G91
    G1 X2 F1200
    G90
    
    G4 P1000

    G28 Y
    G91
    G1 Y2 F1200
    G90

    G0 X143 Y67 F3600
    G28 Z
    G0 Z10 F1200

    G0 X0 Y0

[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE="default"
    BED_MESH_PROFILE LOAD="default"
    G28

[gcode_macro LINE_PURGE]
gcode:
    G90
    G1 X5 Y20 F5000
    G1 Z0.3 F1000
    G92 E0
    G1 X5 Y200 E15 F1200
    G1 X7 F5000
    G1 X7 Y10 E30 F1200
    G92 E0
    G1 X10 F3000
    G1 Z2 F1000

[gcode_macro START_PRINT]
gcode:
    {% set BED = params.BED|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(190)|float %}
    M140 S{BED}
    G90
    G28
    M104 S150
    M190 S{BED}
    Z_TILT_ADJUST
    G28 Z
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1
    G1 Z5 F3000
    G1 X0 Y0 F5000
    M109 S{EXTRUDER}
    LINE_PURGE

[gcode_macro END_PRINT]
gcode:
    TURN_OFF_HEATERS
    M107
    {% set max_z = printer.toolhead.axis_maximum.z | float %}
    {% set act_z = printer.toolhead.position.z | float %}
    {% if act_z < (max_z - 10.0) %}
        {% set z_safe = 10.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    
    G91
    G1 E-2 F1800
    G1 Z{z_safe} F1200
    G90
    G1 X5 Y5 F6000
    M400
    M84

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set max_z = printer.toolhead.axis_maximum.z | float %}
    {% set act_z = printer.toolhead.position.z | float %}
    {% if act_z < (max_z - 10.0) %}
        {% set z_safe = 10.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-2 F2400
    G1 Z{z_safe} F1200
    G90
    G1 X10 Y205 F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED=100
    G91
    G1 E2 F2100
    G90
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    END_PRINT

[gcode_macro HOME]
gcode:
    G90
    G28 Z0
    G1 Z10 F1200
    G28 Y0
    G1 Y5 F1200
    G4 P2000
    G28 X0
    G1 X5 F1200

[gcode_macro DRY]
gcode:
    {% set temp = params.TEMP|default(45)|float %}
    {% set time = params.TIME|default(14400)|int %}
    SET_IDLE_TIMEOUT TIMEOUT=28800
    M140 S{temp}
    M190 S{temp}
    M118 Say nhua {temp}C
    UPDATE_DELAYED_GCODE ID=DRY_OFF_AUTO DURATION={time}

[delayed_gcode DRY_OFF_AUTO]
gcode:
    M140 S0
    SET_IDLE_TIMEOUT TIMEOUT=300
    M118 Say xong

[gcode_macro DRY_OFF]
gcode:
    M140 S0
    SET_IDLE_TIMEOUT TIMEOUT=300
    M118 Da tat say

[gcode_macro TEST_SPEED]
gcode:
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    {% set iterations = params.ITERATIONS|default(5)|int %}
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    {% set bound = params.BOUND|default(20)|int %}
    {% set smallpatternsize = params.SMALLPATTERNSIZE|default(20)|int %}
    
    {% set x_min = printer.toolhead.axis_minimum.x + bound %}
    {% set x_max = printer.toolhead.axis_maximum.x - bound %}
    {% set y_min = printer.toolhead.axis_minimum.y + bound %}
    {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
    {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
    
    {% set x_center_min = x_center - (smallpatternsize/2) %}
    {% set x_center_max = x_center + (smallpatternsize/2) %}
    {% set y_center_min = y_center - (smallpatternsize/2) %}
    {% set y_center_max = y_center + (smallpatternsize/2) %}

    SAVE_GCODE_STATE NAME=TEST_SPEED
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    M400 
    G28
    {% if printer.configfile.settings.quad_gantry_level %}
        {% if printer.quad_gantry_level.applied == False %}
            QUAD_GANTRY_LEVEL
            G28 Z
        {% endif %}
    {% endif %} 
    G90
    G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
    M400 
    G28 X Y
    G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
    G4 P1000 
    GET_POSITION

    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}
    SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

    {% for i in range(iterations) %}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_min} F{speed*60}
    {% endfor %}

    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}

    M400 
    G28 
    G90
    G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
    G4 P1000 
    GET_POSITION
    RESTORE_GCODE_STATE NAME=TEST_SPEED

[gcode_macro LIVE_Z_TUNING]
description: Live Z tuning chuẩn (fix)
gcode:
    {% set BED = params.BED|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(200)|float %}
    G90
    G28
    M140 S{BED}
    M104 S150
    M190 S{BED}
    M109 S{EXTRUDER}
    Z_TILT_ADJUST
    BED_MESH_CALIBRATE
    G1 Z5 F3000
    G1 X5 Y20 F6000
    G92 E0
    G1 Z0.3 F1000
    G1 X285 Y20 E15 F1200
    G1 X285 Y210 E15
    G1 X5 Y210 E15
    G1 X5 Y20 E15
    G92 E0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.065000, 0.047500, 0.075000
#*# 	0.040000, 0.010000, 0.057500
#*# 	0.037500, 0.010000, 0.060000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 109.999
#*# max_x = 169.999
#*# min_y = 84.498
#*# max_y = 115.498
#*#
#*# [bltouch]
#*# z_offset = 2.625
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.800
#*# pid_ki = 3.885
#*# pid_kd = 73.515
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.736
#*# pid_ki = 1.415
#*# pid_kd = 986.514
#*#
#*# [bed_mesh Mesh0]
#*# version = 1
#*# points =
#*# 	-0.048603, -0.126103, -0.056103, -0.043603, -0.003603, -0.008603, -0.016103
#*# 	-0.108603, -0.133603, -0.071103, -0.098603, -0.036103, -0.043603, -0.051103
#*# 	-0.053603, -0.093603, -0.056103, -0.076103, -0.006103, -0.003603, -0.021103
#*# 	-0.086103, -0.116103, -0.116103, -0.133603, -0.008603, 0.038897, 0.003897
#*# 	-0.113603, -0.131103, -0.068603, -0.078603, 0.048897, 0.123897, 0.066397
#*# 	-0.166103, -0.196103, -0.141103, -0.071103, 0.021397, 0.078897, 0.003897
#*# 	-0.216103, -0.223603, -0.163603, -0.106103, -0.053603, -0.001103, -0.061103
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 259.98
#*# min_y = 30.0
#*# max_y = 199.97999999999996
